<div class="content">
  <h3 class="title">Administrador de empleados</h3>

  <div>
    <input
      type="text"
      class="form-control search search-longer"
      placeholder="Buscar..."
      [(ngModel)]="busqueda"
    />
  </div>
  <div class="row mt-3">
    <!-- COLUMNA DE LA IZQUIERDA (TABLA)-->
    <div class="col container-fluid">
      <ng-container
        *ngIf="
          (catalogoDeEmpleados | search : busqueda).length >= 1;
          else noRegistros
        "
      >
        <table class="table text-center align-middle">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Edad</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="
                let empleado of catalogoDeEmpleados | search : busqueda;
                let i = index
              "
            >
              <!-- ID -->
              <td>
                <ngb-highlight
                  class="text-gray"
                  [result]="empleado.id"
                  [term]="busqueda"
                ></ngb-highlight>
              </td>

              <!-- Nombre -->

              <td>
                <ngb-highlight
                  class="text-gray"
                  [result]="empleado.nombre"
                  [term]="busqueda"
                ></ngb-highlight>
              </td>

              <!-- Edad -->

              <td>
                <ngb-highlight
                  class="text-gray"
                  [result]="empleado.edad"
                  [term]="busqueda"
                ></ngb-highlight>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-template #noRegistros>
        <p>No hay registros para mostrar.</p>
      </ng-template>
    </div>

    <!-- COLUMNA DE LA DERECHA (PARA LOS DETALLES) -->
    <div class="col-lg-4 columna-derecha" *ngIf="mostrarColumnaDerecha">
      <form
        autocomplete="off"
        (ngSubmit)="envioFormulario()"
        [formGroup]="empleadoForm"
      >
        <p class="titulo-formulario m-0">Agregar empleado</p>
        <span class="texto-descriptivo">
          Ingresa los datos del trabajador en el siguiente formulario
        </span>

        <div class="grupo-formulario">
          <p class="subtitulo-seccion">DATOS GENERALES</p>

          <div class="grupo-input">
            <label for="nombre" class="col-4">
              Nombre <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              class="col-8"
              placeholder="Ingrese nombre"
              id="nombre"
              formControlName="nombre"
            />

            <div
              *ngIf="
                empleadoForm.get('nombre')?.invalid &&
                empleadoForm.get('nombre')?.touched
              "
            >
              <div *ngIf="empleadoForm.get('nombre')?.hasError('required')">
                <span class="validationMessage"
                  >El nombre es obligatorio.
                </span>
              </div>
            </div>
          </div>

          <div class="grupo-input">
            <label for="calendario " class="col-4"
              >Fecha de nacimiento <span class="text-danger">*</span>
            </label>
            <input
              type="date"
              name=""
              id="calendario"
              class="col-8"
              formControlName="fechaDeNacimiento"
              (change)="calcularEdad()"
            />

            <div
              *ngIf="
                empleadoForm.get('fechaDeNacimiento')?.hasError('required') &&
                empleadoForm.get('fechaDeNacimiento')?.touched
              "
            >
              <span class="validationMessage"
                >La fecha de nacimiento es requerida.</span
              >
            </div>
            <div
              *ngIf="
                empleadoForm
                  .get('fechaDeNacimiento')
                  ?.hasError('fechaInvalida') &&
                empleadoForm.get('fechaDeNacimiento')?.touched
              "
            >
              <span class="validationMessage"
                >La fecha de nacimiento no puede ser mayor que la fecha
                actual.</span
              >
            </div>
          </div>

          <div class="grupo-input">
            <label for="edad" class="col-4"
              >Edad <span class="text-danger">*</span>
            </label>
            <input
              type="number"
              placeholder="Edad"
              id="edad"
              class="col-8"
              formControlName="edad"
              readonly
            />
          </div>

          <div class="grupo-input">
            <label for="edad" class="col-4"
              >Cargo <span class="text-danger">*</span>
            </label>
            <select formControlName="cargo" class="col-8">
              <option
                *ngFor="let cargo of catalogoDeCargos"
                value="{{ cargo.id }}"
              >
                {{ cargo.descripcion }}
              </option>
            </select>

            <div
              *ngIf="
                empleadoForm.get('cargo')?.hasError('seleccionaUno') &&
                empleadoForm.get('cargo')?.touched
              "
            >
              <span class="validationMessage"
                >Por favor, selecciona un cargo.</span
              >
            </div>
          </div>

          <div class="grupo-input">
            <label for="estatus" class="col-4">Estatus</label>
            <input type="checkbox" id="estatus" formControlName="estatus" />
          </div>
        </div>

        <div class="d-flex gap-3">
          <button
            type="button"
            class="btn btn-danger w-50"
            (click)="botonCancelar()"
          >
            Cancelar
          </button>

          <button type="submit" class="btn btn-success w-50">Guardar</button>

          <button type="button" (click)="dev()">dev</button>
        </div>
      </form>
    </div>
  </div>
</div>
