h3 {
  text-align: center;
}

.titulo-formulario {
  font-weight: bolder;
}

.texto-descriptivo {
  font-style: italic;
}

.subtitulo-seccion {
  color: #292929;
  font-size: 14px;
  font-weight: bold;
}

.grupo-formulario {
  padding: 5px;
  margin-top: 20px;
}
.grupo-input {
  margin-bottom: 10px;
}
.content {
  margin: 40px 5rem;
}

.validationMessage {
  font-weight: bold;
  font-size: 15px;
  color: red;
}
