*:focus {
  outline: none;
}

h3 {
  text-align: center;
}

.titulo-formulario {
  font-weight: bolder;
}

.texto-descriptivo {
  font-style: italic;
}

.subtitulo-seccion {
  color: #292929;
  font-size: 14px;
  font-weight: bold;
}

.grupo-formulario {
  padding: 5px;
  margin-top: 20px;
}
.grupo-input {
  margin-bottom: 10px;
}
.content {
  margin: 40px 5rem;
}

.validationMessage {
  font-weight: bold;
  font-size: 15px;
  color: red;
}

.tableIcon {
  height: 20px;
}

.tableBtn {
  padding: 2px 8px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #f3f3f3;
}

.icon {
  height: 30px;
}
.tableButtons {
  button {
    padding: 10px;
    transition: 400ms;
  }
  button:hover {
    background-color: #cfcfcf;
    transition: 500ms;
  }
}
