<div class="content">
  <h3 class="title">Administrador de empleados</h3>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Filtros
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row d-flex flex-column">
            <input
              type="text"
              class="form-control search search-longer mb-3"
              placeholder="Buscar..."
              [(ngModel)]="busqueda"
            />
            <span for="filtroCargo" class="fw-light"
              >Filtrar empleados por estatus</span
            >
            <select
              id="filtroCargo"
              class="form-control"
              (change)="filtradoPorEstatus($event)"
            >
              <option value="todos">Todos</option>
              <option value="true">Activos</option>
              <option value="false">Inactivos</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4 mt-2">
    <button class="btn btn-success btn-sm" (click)="abrirFormulario()">
      Agregar Empleado
    </button>
  </div>

  <div class="row mt-3">
    <!-- COLUMNA DE LA IZQUIERDA (TABLA)-->
    <div class="col container-fluid">
      <ng-container
        *ngIf="
          (catalogoDeEmpleados | search : busqueda : estatusFiltro).length >= 1;
          else noRegistros
        "
      >
        <table class="table text-center align-middle">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cargo</th>
              <th>Edad (Años)</th>
              <th>Usuario activo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="
                let empleado of catalogoDeEmpleados | search : busqueda : estatusFiltro;
                let i = index
              "
            >
              <!-- Nombre -->
              <td>
                <ngb-highlight
                  class="text-gray"
                  [result]="empleado.nombre"
                  [term]="busqueda"
                ></ngb-highlight>
              </td>

              <!-- Cargo -->

              <td>
                <ngb-highlight
                  class="text-gray"
                  [result]="getDescripcionCargo(empleado.idCargo)"
                  [term]="busqueda"
                ></ngb-highlight>
              </td>

              <!-- Edad -->

              <td>
                <ngb-highlight
                  class="text-gray"
                  [result]="empleado.edad"
                  [term]="busqueda"
                ></ngb-highlight>
              </td>

              <!-- Usuario activo -->

              <td>
                <img
                  src="../../../assets/icons/correcto.png"
                  alt=""
                  *ngIf="empleado.estatus === true"
                />
              </td>

              <!-- Acciones -->
              <td class="d-flex gap-3 tableButtons">
                <button
                  class="btn btn-md"
                  (click)="borrarEmpleado(empleado)"
                  type="button"
                >
                  <img
                    src="../../../assets/icons/borrar.png"
                    alt=""
                    class="icon"
                    srcset=""
                  />
                </button>

                <button
                  class="btn btn-md"
                  (click)="editarEmpleado(empleado)"
                  type="button"
                  *ngIf="empleado.estatus === false"
                >
                  <img
                    src="../../../assets/icons/editar.png"
                    alt=""
                    srcset=""
                    class="icon"
                  />
                </button>

                <button
                  class="btn btn-md"
                  (click)="cambiarStatus(empleado)"
                  type="button"
                >
                  <img
                    src="../../../assets/icons/cambiar.png"
                    alt=""
                    srcset=""
                    class="icon"
                  />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-template #noRegistros>
        <p>No hay registros para mostrar.</p>
      </ng-template>
    </div>

    <!-- COLUMNA DE LA DERECHA (PARA LOS DETALLES) -->
    <div class="col-lg-4 columna-derecha" *ngIf="mostrarColumnaDerecha">
      <form
        autocomplete="off"
        (ngSubmit)="envioFormulario()"
        [formGroup]="empleadoForm"
      >
        <p class="titulo-formulario m-0">Agregar empleado</p>
        <span class="texto-descriptivo">
          Ingresa los datos del trabajador en el siguiente formulario
        </span>

        <div class="grupo-formulario">
          <p class="subtitulo-seccion">DATOS GENERALES</p>

          <div class="grupo-input">
            <label for="nombre" class="col-4">
              Nombre <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              class="col-8"
              placeholder="Ingrese nombre"
              id="nombre"
              formControlName="nombre"
            />

            <div
              *ngIf="
                empleadoForm.get('nombre')?.invalid &&
                empleadoForm.get('nombre')?.touched
              "
            >
              <div *ngIf="empleadoForm.get('nombre')?.hasError('required')">
                <span class="validationMessage"
                  >El nombre es obligatorio.
                </span>
              </div>
            </div>
          </div>

          <div class="grupo-input">
            <label for="calendario " class="col-4"
              >Fecha de nacimiento <span class="text-danger">*</span>
            </label>
            <input
              type="date"
              name=""
              id="calendario"
              class="col-8"
              formControlName="fechaDeNacimiento"
              (change)="calcularEdad()"
            />

            <div
              *ngIf="
                empleadoForm.get('fechaDeNacimiento')?.hasError('required') &&
                empleadoForm.get('fechaDeNacimiento')?.touched
              "
            >
              <span class="validationMessage"
                >La fecha de nacimiento es requerida.</span
              >
            </div>
            <div
              *ngIf="
                empleadoForm
                  .get('fechaDeNacimiento')
                  ?.hasError('fechaInvalida') &&
                empleadoForm.get('fechaDeNacimiento')?.touched
              "
            >
              <span class="validationMessage"
                >La fecha de nacimiento no puede ser mayor que la fecha
                actual.</span
              >
            </div>
          </div>

          <div class="grupo-input">
            <label for="edad" class="col-4"
              >Edad <span class="text-danger">*</span>
            </label>
            <input
              type="number"
              placeholder="Edad"
              id="edad"
              class="col-8"
              formControlName="edad"
              readonly
            />
          </div>

          <div class="grupo-input">
            <label for="edad" class="col-4"
              >Cargo <span class="text-danger">*</span>
            </label>
            <select formControlName="cargo" class="col-8">
              <option
                *ngFor="let cargo of catalogoDeCargos"
                value="{{ cargo.id }}"
              >
                {{ cargo.descripcion }}
              </option>
            </select>

            <div
              *ngIf="
                empleadoForm.get('cargo')?.hasError('seleccionaUno') &&
                empleadoForm.get('cargo')?.touched
              "
            >
              <span class="validationMessage"
                >Por favor, selecciona un cargo.</span
              >
            </div>
          </div>

          <div class="grupo-input">
            <label for="estatus" class="col-4">¿Usuario activo?</label>
            <input type="checkbox" id="estatus" formControlName="estatus" />
          </div>
        </div>

        <div class="d-flex gap-3">
          <button
            type="button"
            class="btn btn-danger w-50"
            (click)="botonCancelar()"
          >
            Cancelar
          </button>

          <button type="submit" class="btn btn-success w-50">Guardar</button>

          <button type="button" (click)="dev()">dev</button>
        </div>
      </form>
    </div>
  </div>
</div>
