<div class="content">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <label>Recursos para testear la app!</label>
    <p>
      Da click en el siguiente boton para agregar instantaneamente 30 registros
    </p>
    <button (click)="agregarRegistrosRapido()" class="btn btn-info">
      Agregar registros
    </button>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <h3 class="title">Administrador de empleados</h3>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-controls="collapseOne"
        >
          Filtros
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row d-flex flex-column">
            <label for="barraBusqueda" class="fw-light">Busqueda</label>

            <input
              id="barraBusqueda"
              type="text"
              class="form-control search search-longer mb-3"
              placeholder="Buscar..."
              [(ngModel)]="busqueda"
            />
            <span for="filtroCargo" class="fw-light"
              >Filtrar empleados por estatus</span
            >
            <select
              id="filtroCargo"
              class="form-control"
              (change)="filtradoPorEstatus($event)"
            >
              <option value="todos">Todos</option>
              <option value="true">Activos</option>
              <option value="false">Inactivos</option>
            </select>

            <span class="fw-light mt-3">Resultados por pagina</span>
            <select
              class="form-control"
              (change)="cambiarResultadosPorPagina($event)"
            >
              <option value="1">1</option>
              <option value="2" selected>5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4 mt-2">
    <button class="btn btn-success btn-sm" (click)="abrirFormulario()">
      Agregar Empleado
    </button>
  </div>

  <div class="row mt-3">
    <!-- COLUMNA DE LA IZQUIERDA (TABLA)-->
    <div class="col container-fluid">
      <ng-container
        *ngIf="
          (catalogoDeEmpleados | search : busqueda : estatusFiltro).length >= 1;
          else noRegistros
        "
      >
        <form [formGroup]="editarEmpleadoForm">
          <table class="table text-center align-middle">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Edad (Años)</th>
                <th>Usuario activo</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let empleado of catalogoDeEmpleados
                    | search : busqueda : estatusFiltro
                    | paginate
                      : { itemsPerPage: itemsPorPagina, currentPage: pagina };
                  let i = index
                "
              >
                <!-- id -->

                <input formControlName="id" type="text" *ngIf="false" />

                <!-- Nombre -->
                <td style="max-width: 100px">
                  <!--Empieza Campos de edicion - Nombre -->
                  <input
                    formControlName="nombre"
                    type="text"
                    class="form-control"
                    placeholder="Nombre"
                    *ngIf="modoDeEdicion && i === indiceRegistroEditando"
                  />
                  <div *ngIf="editarEmpleadoForm.get('nombre')?.hasError('required') &&
                  editarEmpleadoForm.get('nombre')?.touched && modoDeEdicion && i === indiceRegistroEditando">
                    <span class="validationMessage"
                      >El nombre es obligatorio.
                    </span>
                  </div>
                  <!--Termina Campos de edicion - Nombre -->

                  <ngb-highlight
                    class="text-gray"
                    [result]="empleado.nombre"
                    [term]="busqueda"
                    *ngIf="!modoDeEdicion || i !== indiceRegistroEditando"
                  ></ngb-highlight>
                </td>

                <!-- Cargo -->

                <td style="max-width: 100px">
                   <!--Empieza Campos de edicion - Cargo -->

                  <select
                    formControlName="cargo"
                    class="col-8 form-control"
                    *ngIf="modoDeEdicion && i === indiceRegistroEditando"
                  >
                    <option
                      *ngFor="let cargo of catalogoDeCargos"
                      value="{{ cargo.id }}"
                    >
                      {{ cargo.descripcion }}
                    </option>
                  </select>

                  <div *ngIf="editarEmpleadoForm.get('cargo')?.hasError('seleccionaUno') &&
                  editarEmpleadoForm.get('cargo')?.touched  && modoDeEdicion && i === indiceRegistroEditando">
                    <span class="validationMessage"
                      >El cargo es obligatorio.
                    </span>
                  </div>
                  <!--Termina Campos de edicion - Cargo -->

                  <ngb-highlight
                    class="text-gray"
                    [result]="getDescripcionCargo(empleado.idCargo)"
                    [term]="busqueda"
                    *ngIf="!modoDeEdicion || i !== indiceRegistroEditando"
                  ></ngb-highlight>
                </td>

                <!-- Edad -->

                <td>
                  <ngb-highlight
                    class="text-gray"
                    [result]="empleado.edad"
                    [term]="busqueda"
                  ></ngb-highlight>
                </td>
                <!-- Usuario activo -->

                <td>
                  <img
                    src="../../../assets/icons/correcto.png"
                    alt=""
                    *ngIf="empleado.estatus === true"
                  />
                </td>

                <!-- Acciones -->
                <td class="d-flex gap-3 tableButtons">
                  <!-- Boton para cancelar la edicion -->
                  <button
                    class="btn btn-md btn-danger"
                    (click)="cancelarEdicion()"
                    type="button"
                    *ngIf="modoDeEdicion && i === indiceRegistroEditando"
                  >
                    Cancelar
                  </button>

                  <!-- Boton para Guardar la edicion -->
                  <button
                    class="btn btn-md btn-success"
                    (click)="guardarEdicion()"
                    type="button"
                    *ngIf="modoDeEdicion && i === indiceRegistroEditando"
                  >
                    Guardar
                  </button>

                  <button
                    class="btn btn-md"
                    (click)="borrarEmpleado(empleado)"
                    type="button"
                    *ngIf="!modoDeEdicion || i !== indiceRegistroEditando"
                  >
                    <img
                      src="../../../assets/icons/borrar.png"
                      alt=""
                      class="icon"
                      srcset=""
                    />
                  </button>

                  <button
                    class="btn btn-md"
                    (click)="editarEmpleado(empleado, i)"
                    type="button"
                    *ngIf="
                      empleado.estatus === false &&
                      (!modoDeEdicion || i !== indiceRegistroEditando)
                    "
                  >
                    <img
                      src="../../../assets/icons/editar.png"
                      alt=""
                      srcset=""
                      class="icon"
                    />
                  </button>

                  <button
                    class="btn btn-md"
                    (click)="cambiarStatus(empleado)"
                    type="button"
                    *ngIf="!modoDeEdicion || i !== indiceRegistroEditando"
                  >
                    <img
                      src="../../../assets/icons/cambiar.png"
                      alt=""
                      srcset=""
                      class="icon"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </ng-container>

      <pagination-controls
        (pageChange)="pagina = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>

      <ng-template #noRegistros>
        <p>No hay registros para mostrar.</p>
      </ng-template>
    </div>

    <!-- COLUMNA DE LA DERECHA (PARA LOS DETALLES) -->
    <div class="col-lg-4 columna-derecha" *ngIf="mostrarColumnaDerecha">
      <form
        autocomplete="off"
        (ngSubmit)="envioFormulario()"
        [formGroup]="empleadoForm"
      >
        <p class="titulo-formulario m-0">Agregar empleado</p>
        <span class="texto-descriptivo">
          Ingresa los datos del trabajador en el siguiente formulario
        </span>

        <div class="grupo-formulario">
          <p class="subtitulo-seccion">DATOS GENERALES</p>

          <div class="grupo-input">
            <label for="nombre" class="col-4">
              Nombre <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              class="col-8 form-control"
              placeholder="Ingrese nombre"
              id="nombre"
              formControlName="nombre"
            />

            <div
              *ngIf="
                empleadoForm.get('nombre')?.invalid &&
                empleadoForm.get('nombre')?.touched
              "
            >
              <div *ngIf="empleadoForm.get('nombre')?.hasError('required')">
                <span class="validationMessage"
                  >El nombre es obligatorio.
                </span>
              </div>
            </div>
          </div>

          <div class="grupo-input">
            <label for="calendario " class="col-4"
              >Fecha de nacimiento <span class="text-danger">*</span>
            </label>
            <input
              type="date"
              name=""
              id="calendario"
              class="col-8 form-control"
              formControlName="fechaDeNacimiento"
              (change)="calcularEdad()"
            />

            <div
              *ngIf="
                empleadoForm.get('fechaDeNacimiento')?.hasError('required') &&
                empleadoForm.get('fechaDeNacimiento')?.touched
              "
            >
              <span class="validationMessage"
                >La fecha de nacimiento es requerida.</span
              >
            </div>
            <div
              *ngIf="
                empleadoForm
                  .get('fechaDeNacimiento')
                  ?.hasError('fechaInvalida') &&
                empleadoForm.get('fechaDeNacimiento')?.touched
              "
            >
              <span class="validationMessage"
                >La fecha de nacimiento no puede ser mayor que la fecha
                actual.</span
              >
            </div>
          </div>

          <div class="grupo-input">
            <label for="edad" class="col-4"
              >Edad <span class="text-danger">*</span>
            </label>
            <input
              type="number"
              placeholder="Edad"
              id="edad"
              class="col-8 form-control"
              formControlName="edad"
              readonly
            />
          </div>

          <div class="grupo-input">
            <label for="edad" class="col-4"
              >Cargo <span class="text-danger">*</span>
            </label>
            <select formControlName="cargo" class="col-8 form-control">
              <option
                *ngFor="let cargo of catalogoDeCargos"
                value="{{ cargo.id }}"
              >
                {{ cargo.descripcion }}
              </option>
            </select>

            <div
              *ngIf="
                empleadoForm.get('cargo')?.hasError('seleccionaUno') &&
                empleadoForm.get('cargo')?.touched
              "
            >
              <span class="validationMessage"
                >Por favor, selecciona un cargo.</span
              >
            </div>
          </div>

          <div class="grupo-input">
            <label for="estatus" class="col-4">¿Usuario activo?</label>
            <input
              type="checkbox"
              id="estatus"
              formControlName="estatus"
              class="form-check-input"
            />
          </div>
        </div>

        <div class="d-flex gap-3">
          <button
            type="button"
            class="btn btn-danger w-50"
            (click)="botonCancelar()"
          >
            Cancelar
          </button>

          <button type="submit" class="btn btn-success w-50">Guardar</button>

          <button type="button" (click)="dev()">dev</button>
        </div>
      </form>
    </div>
  </div>
</div>
